QPushButton{
    background-color:rgb(0, 123, 255);
    color: white;
    border-style:outset;
    border-color:  rgb(77,77,77);
    border-width: 0px;
    border-radius: 7px;
    padding: 6px;
    font: 25 12pt "Calibri Light";
}


QPushButton:pressed { background-color: red }

